body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    text-align: center;
}
.name {
    font-family: cursive;
    font-weight: bold;
    text-indent: -40%;
    color: #f4e3ce;
}
header {
    background-color:#9673ce;
    color: #f4e3ce;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #f4e3ce;
}

.categories-dropdown, .user-auth{
    position: relative;
}

.button {
    border-radius: 20px;
    background-color: #f4e3ce;
    font-weight: bold;
    color:purple;
    padding-left:5px;
    padding-right: 5px;
}

.dropdown-content, .auth-dropdown {
    display: none;
    position: absolute;
    background-color: purple;
    padding: 10px;
    z-index: 1;
    width: 130px;
}

.categories-dropdown:hover .dropdown-content, .user-auth:hover .auth-dropdown {
    display: block;
}

.hotels-dropdown:hover .dropdown-content, .user-auth:hover .auth-dropdown {
    display: block;
}

.head {
    text-align: center;
    color: purple;
}

main {
    margin: 20px;
}

h2 {
    color: #9673ce;
}

p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.highlight {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

.cta-section {
    background-color: #9673ce;
    color: #f4e3ce;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
}

.cta-section h2 {
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #fff;
    color: #9673ce;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #9673ce;
    color: #fff;
}

footer {
    background-color: #9673ce;
    color: #fff;
    padding: 10px;
    text-align: center;
}