body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('feedback.jpg') center/cover no-repeat fixed;
}

.logo {
    text-align: center;
}
.name {
    font-family: cursive;
    font-weight: bold;
    text-indent: -30%;
    color: #f4e3ce;
}
header {
    background-color:#9673ce;
    color: #f4e3ce;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #f4e3ce;
}

.categories-dropdown, .user-auth{
    position: relative;
}

.button {
    border-radius: 20px;
    background-color: #f4e3ce;
    font-weight: bold;
    color:purple;
    padding-left:5px;
    padding-right: 5px;
}

.dropdown-content, .auth-dropdown {
    display: none;
    position: absolute;
    background-color: purple;
    padding: 10px;
    z-index: 1;
    width: 130px;
}

.categories-dropdown:hover .dropdown-content, .user-auth:hover .auth-dropdown {
    display: block;
}

.hotels-dropdown:hover .dropdown-content, .user-auth:hover .auth-dropdown {
    display: block;
}

h2{
    color:purple;
    text-align: center;
}
form {
        max-width: 400px;
        margin:auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color:#9673ce;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color:#9673ce;
}

