body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.logo {
    /* text-align: center; */
    margin-left: 10px;

}
.name {
    font-family: cursive;
    font-weight: bold;
    text-indent: -30%;
    color: #f4e3ce;
}
header {
    background-color:#9673ce;
    color: #f4e3ce;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.profile-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f4e3ce;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-circle p {
    margin: 0;
    font-size: 24px;
    color: purple;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 15px;
    margin-top: 25px;
}

nav a {
    text-decoration: none;
    color: #f4e3ce;
}

.categories-dropdown, .user-auth{
    position: relative;
}

.button {
    border-radius: 20px;
    background-color: #f4e3ce;
    font-weight: bold;
    color:purple;
    padding-left:5px;
    padding-right: 5px;
}

.dropdown-content, .auth-dropdown {
    display: none;
    position: absolute;
    background-color: purple;
    padding: 10px;
    z-index: 1;
    width: 130px;
}

.dropdown-conten, .auth-dropdow {
    display: none;
    position: absolute;
    background-color: purple;
    padding: 10px;
    z-index: 1;
    width: 130px;
    margin-inline: -75px;
}

.categories-dropdown:hover .dropdown-content, .user-auth:hover .auth-dropdown {
    display: block;
}

.hotels-dropdown:hover .dropdown-content, .user-auth:hover .auth-dropdown {
    display: block;
}

.profile-dropdown:hover .dropdown-conten, .user-auth:hover .auth-dropdow {
    display: block;
}

.main {
    padding: 20px;
}

.hero img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.head {
    text-align: center;
    color: purple;
}

.product {
    text-align: center;
    margin-bottom: 20px;
}

.container {
    justify-content: center;
    margin-left: 3%;
    margin-right: 3%;
}

.wishlist-container {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
}

.wishlist-item {
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:150%;
    text-align: center;
}

.wishlist-item img {
    max-width: 100%;
    height: 70%;
    margin-bottom: 10px;
}

.remove-button {
    background-color: #9673ce;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5%;
    width: 25%;
}

.view-button {
    background-color: #9673ce;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 25%;
}